In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
file = 'teamid.csv'
team_df = pd.read_csv(file)

In [7]:
team_df.head()

  Level League Division Team ID             Team Name MLB Organization
0   MLB     AL        C     DET        Detroit Tigers              DET
1   MLB     AL        E     NYA      New York Yankees              NYA
2   MLB     NL        W     SFN  San Francisco Giants              SFN
3   MLB     NL        C     PIT    Pittsburgh Pirates              PIT
4   MLB     NL        E     WAS  Washington Nationals              WAS

In [ ]:
TeamID