In [50]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine

In [51]:
#bring in the CSV file for the baseball defense data and read the CSV
file = '2015pitching.csv'
defense_data = pd.read_csv(file)
defense_data.head()

,Tm,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB
0,ARI,27,27.1,4.40,79,83,0.488,4.04,162,162,...,6257,102,4.21,1.330,8.9,1.1,3.1,7.5,2.43,1144
1,ATL,37,26.6,4.69,67,95,0.414,4.41,162,162,...,6156,88,4.34,1.412,9.2,1.1,3.5,7.2,2.09,1120
2,BAL,22,28.3,4.28,81,81,0.500,4.05,162,162,...,6085,102,4.11,1.317,8.8,1.1,3.0,7.7,2.55,1088
3,BOS,26,28.6,4.65,78,84,0.481,4.31,162,162,...,6225,100,4.17,1.356,9.2,1.1,3.0,7.6,2.55,1127
4,CHC,29,29.3,3.75,97,65,0.599,3.36,162,162,...,5997,114,3.30,1.152,7.9,0.8,2.5,8.8,3.52,1005

In [52]:
#keep only columns that we need
defense_data = defense_data[['Tm','SV','R','HR','SO']]
defense_data.head()

    Tm  SV    R   HR    SO
0  ARI  44  713  182  1215
1  ATL  44  760  170  1148
2  BAL  43  693  174  1233
3  BOS  40  753  178  1218
4  CHC  48  608  134  1431

In [53]:
#add column to show year
defense_data = defense_data.rename(columns = {'Tm':'TEAM', 'SV':'SAVES','R':'RUNS','HR':'HOMERUNS','SO':'STRIKEOUTS'})
defense_data = defense_data.drop([30,31])
defense_data

   TEAM  SAVES  RUNS  HOMERUNS  STRIKEOUTS
0   ARI     44   713       182        1215
1   ATL     44   760       170        1148
2   BAL     43   693       174        1233
3   BOS     40   753       178        1218
4   CHC     48   608       134        1431
5   CHW     37   701       162        1359
6   CIN     35   754       177        1252
7   CLE     38   640       161        1407
8   COL     36   844       183        1112
9   DET     35   803       193        1100
10  HOU     39   618       148        1280
11  KCR     56   641       155        1160
12  LAA     46   675       166        1221
13  LAD     47   595       145        1396
14  MIA     35   678       141        1152
15  MIL     40   737       176        1260
16  MIN     45   700       163        1046
17  NYM     50   613       152        1337
18  NYY     48   698       182        1370
19  OAK     28   729       172        1179
20  PHI     35   809       191        1153
21  PIT     54   596       110        1338
22  SDP     41   731       171        1393
23  SEA     45   726       181        1283
24  SFG     41   627       155        1165
25  STL     62   525       123        1329
26  TBR     60   642       175        1355
27  TEX     45   733       171        1095
28  TOR     34   670       173        1117
29  WSN     41   635       145        1342

In [54]:
#export data into a CSV file
defense_data.to_csv('2015_defense_pandas_data.csv')