In [122]:
#Documents to be able to use keys across different baseball websites
#Team key below, aggregates different spellings of team names, different team IDs across different baseball websites
import pandas as pd
from sqlalchemy import create_engine

In [123]:
file = 'SFBB MLB Team Map - SFBB Team Map.csv'
team_df = pd.read_csv(file)

In [124]:
team_df.head()

,SFBBTEAM,FDTEAM,DKTEAM,BBREFTEAM,YAHOOTEAM,FANPROSTEAM,BASEBALLPRESSTEAM,FANGRAPHSTEAM,ESPNTEAM,BPTEAM,ROTOWIRETEAM,ROSTERRESOURCEURL,ROSTERTEAMNAME,ROSTERTEAM,ROSTERPROPER,ROSTERPROPERVALUE,ROSTERPROPERVALUEBBREF,RETROSHEET,FANGRAPHSABBR
0,ARI,ARI,ARI,ARI,ARI,ARI,ARI,Diamondbacks,ARI,ARI,ARI,MLB-ARIZONA-DIAMONDBACKS,ARIZONA-DIAMONDBACKS,ARIZONA DIAMONDBACKS,Arizona Diamondbacks,Arizona Diamondbacks,Arizona Diamondbacks,ARI,ARI
1,ATL,ATL,ATL,ATL,ATL,ATL,ATL,Braves,ATL,ATL,ATL,MLB-ATLANTA-BRAVES,ATLANTA-BRAVES,ATLANTA BRAVES,Atlanta Braves,Atlanta Braves,Atlanta Braves,ATL,ATL
2,BAL,BAL,BAL,BAL,BAL,BAL,BAL,Orioles,BAL,BAL,BAL,MLB-BALTIMORE-ORIOLES,BALTIMORE-ORIOLES,BALTIMORE ORIOLES,Baltimore Orioles,Baltimore Orioles,Baltimore Orioles,BAL,BAL
3,BOS,BOS,BOS,BOS,BOS,BOS,BOS,Red Sox,BOS,BOS,BOS,MLB-BOSTON-RED-SOX,BOSTON-RED-SOX,BOSTON RED SOX,Boston Red Sox,Boston Red Sox,Boston Red Sox,BOS,BOS
4,CHC,CHC,CHC,CHC,CHC,CHC,CHC,Cubs,CHC,CHN,CHC,MLB-CHICAGO-CUBS,CHICAGO-CUBS,CHICAGO CUBS,Chicago Cubs,Chicago Cubs,Chicago Cubs,CHN,CHC

In [151]:
BBREF_df = team_df[['BBREFTEAM', 'ROSTERPROPERVALUE']].copy()
BBREF_df.head()

  BBREFTEAM     ROSTERPROPERVALUE
0       ARI  Arizona Diamondbacks
1       ATL        Atlanta Braves
2       BAL     Baltimore Orioles
3       BOS        Boston Red Sox
4       CHC          Chicago Cubs

In [153]:
BBREF_df = BBREF_df.rename(columns = {'BBREFTEAM':'bbrefteam', 'ROSTERPROPERVALUE':'rosterpropervalue'})
BBREF_df

   bbrefteam      rosterpropervalue
0        ARI   Arizona Diamondbacks
1        ATL         Atlanta Braves
2        BAL      Baltimore Orioles
3        BOS         Boston Red Sox
4        CHC           Chicago Cubs
5        CHW      Chicago White Sox
6        CIN        Cincinnati Reds
7        CLE      Cleveland Indians
8        COL       Colorado Rockies
9        DET         Detroit Tigers
10       HOU         Houston Astros
11       KCR     Kansas City Royals
12       LAA     Los Angeles Angels
13       LAD    Los Angeles Dodgers
14       MIA          Miami Marlins
15       MIL      Milwaukee Brewers
16       MIN        Minnesota Twins
17       NYM          New York Mets
18       NYY       New York Yankees
19       OAK      Oakland Athletics
20       PHI  Philadelphia Phillies
21       PIT     Pittsburgh Pirates
22       SDP       San Diego Padres
23       SEA       Seattle Mariners
24       SFG   San Francisco Giants
25       STL     St Louis Cardinals
26       TBR         Tampa Bay Rays
27       TEX          Texas Rangers
28       TOR      Toronto Blue Jays
29       WSN   Washington Nationals

In [136]:
attendance_file = 'baseballdata.csv'
attendance_df = pd.read_csv(attendance_file)
new_attendance_df = attendance_df[['Tm', 'Attendance', "Year"]].copy()
new_attendance_df


## attendance_df.rename(columns={"Team ID": "TEAM", "Team Name" : "Team_name"})

                       Tm Attendance  Year
0    Arizona Diamondbacks  2,036,216  2016
1    Arizona Diamondbacks  2,080,145  2015
2    Arizona Diamondbacks  2,073,730  2014
3    Arizona Diamondbacks  2,134,895  2013
4    Arizona Diamondbacks  2,177,617  2012
..                    ...        ...   ...
355  Washington Nationals  1,817,226  2009
356  Washington Nationals  2,320,400  2008
357  Washington Nationals  1,943,812  2007
358  Washington Nationals  2,153,056  2006
359  Washington Nationals  2,731,993  2005

[360 rows x 3 columns]

In [127]:
new2015_df = new_attendance_df[new_attendance_df['Year'] == 2015]

In [128]:
new2015_df

                                Tm Attendance  Year
1             Arizona Diamondbacks  2,080,145  2015
13                  Atlanta Braves  2,001,392  2015
25               Baltimore Orioles  2,281,202  2015
37                  Boston Red Sox  2,880,694  2015
49                    Chicago Cubs  2,919,122  2015
61               Chicago White Sox  1,755,810  2015
73                 Cincinnati Reds  2,419,506  2015
85               Cleveland Indians  1,388,905  2015
97                Colorado Rockies  2,506,789  2015
109                 Detroit Tigers  2,726,048  2015
121                 Houston Astros  2,153,585  2015
133             Kansas City Royals  2,708,549  2015
145  Los Angeles Angels of Anaheim  3,012,765  2015
157            Los Angeles Dodgers  3,764,815  2015
169                  Miami Marlins  1,752,235  2015
181              Milwaukee Brewers  2,542,558  2015
193                Minnesota Twins  2,220,054  2015
205                  New York Mets  2,569,753  2015
217               New York Yankees  3,193,795  2015
229              Oakland Athletics  1,768,175  2015
241          Philadelphia Phillies  1,831,080  2015
253             Pittsburgh Pirates  2,498,596  2015
265               San Diego Padres  2,459,752  2015
277           San Francisco Giants  3,375,882  2015
289               Seattle Mariners  2,193,581  2015
301            St. Louis Cardinals  3,520,889  2015
313                 Tampa Bay Rays  1,287,054  2015
325                  Texas Rangers  2,491,875  2015
337              Toronto Blue Jays  2,794,891  2015
349           Washington Nationals  2,619,843  2015

In [138]:
new2015_df = new2015_df.rename(columns = {'Tm':'tm', 'Attendance':'attendance','Year':'year'})
new2015_df

                                tm attendance  year
1             Arizona Diamondbacks  2,080,145  2015
13                  Atlanta Braves  2,001,392  2015
25               Baltimore Orioles  2,281,202  2015
37                  Boston Red Sox  2,880,694  2015
49                    Chicago Cubs  2,919,122  2015
61               Chicago White Sox  1,755,810  2015
73                 Cincinnati Reds  2,419,506  2015
85               Cleveland Indians  1,388,905  2015
97                Colorado Rockies  2,506,789  2015
109                 Detroit Tigers  2,726,048  2015
121                 Houston Astros  2,153,585  2015
133             Kansas City Royals  2,708,549  2015
145  Los Angeles Angels of Anaheim  3,012,765  2015
157            Los Angeles Dodgers  3,764,815  2015
169                  Miami Marlins  1,752,235  2015
181              Milwaukee Brewers  2,542,558  2015
193                Minnesota Twins  2,220,054  2015
205                  New York Mets  2,569,753  2015
217               New York Yankees  3,193,795  2015
229              Oakland Athletics  1,768,175  2015
241          Philadelphia Phillies  1,831,080  2015
253             Pittsburgh Pirates  2,498,596  2015
265               San Diego Padres  2,459,752  2015
277           San Francisco Giants  3,375,882  2015
289               Seattle Mariners  2,193,581  2015
301            St. Louis Cardinals  3,520,889  2015
313                 Tampa Bay Rays  1,287,054  2015
325                  Texas Rangers  2,491,875  2015
337              Toronto Blue Jays  2,794,891  2015
349           Washington Nationals  2,619,843  2015

In [143]:
batting_file = "2015batting.csv"
batting_df = pd.read_csv(batting_file)
new_batting_df = batting_df[['Tm', 'BA', 'OBP', 'SB', 'HR']].copy()
new_batting_df = new_batting_df.rename(columns = {'Tm':'team', 'BA':'battingavg','OBP':'onbasepercent', 'SB':'stolenbases', 'HR': 'homeruns'})
#dropping null values for league average
new_batting_df= new_batting_df.drop([30,31])
new_batting_df

   team  battingavg  onbasepercent  stolenbases  homeruns
0   ARI       0.264          0.324          132       154
1   ATL       0.251          0.314           69       100
2   BAL       0.250          0.307           44       217
3   BOS       0.265          0.325           71       161
4   CHC       0.244          0.321           95       171
5   CHW       0.250          0.306           68       136
6   CIN       0.248          0.312          134       167
7   CLE       0.256          0.325           86       141
8   COL       0.265          0.315           97       186
9   DET       0.270          0.328           83       151
10  HOU       0.250          0.315          121       230
11  KCR       0.269          0.322          104       139
12  LAA       0.246          0.307           52       176
13  LAD       0.250          0.326           59       187
14  MIA       0.260          0.310          112       120
15  MIL       0.251          0.307           84       145
16  MIN       0.247          0.305           70       156
17  NYM       0.244          0.312           51       177
18  NYY       0.251          0.323           63       212
19  OAK       0.251          0.312           78       146
20  PHI       0.249          0.303           88       130
21  PIT       0.260          0.323           98       140
22  SDP       0.243          0.300           82       148
23  SEA       0.249          0.311           69       198
24  SFG       0.267          0.326           93       136
25  STL       0.253          0.321           69       137
26  TBR       0.252          0.314           87       167
27  TEX       0.257          0.325          101       172
28  TOR       0.269          0.340           88       232
29  WSN       0.251          0.321           57       177

In [144]:
#loading df into MLB SQL file
username = "postgres"
password = "postgres"
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/MLB')

In [145]:
#checking for table names
engine.table_names()

['teamkeys', 'attendance', 'fifteen_batting']

In [146]:
new_batting_df.to_sql(name='fifteen_batting', con=engine, if_exists='append', index=False)

In [142]:
new2015_df.to_sql(name='attendance', con=engine, if_exists='append', index=False)

In [154]:
BBREF_df.to_sql(name='teamkeys', con=engine, if_exists='append', index=False)