In [22]:
#Documents to be able to use keys across different baseball websites
#Team key below, aggregates different spellings of team names, different team IDs across different baseball websites
import pandas as pd
from sqlalchemy import create_engine

In [23]:
file = 'SFBB MLB Team Map - SFBB Team Map.csv'
team_df = pd.read_csv(file)

In [24]:
team_df.head()

,SFBBTEAM,FDTEAM,DKTEAM,BBREFTEAM,YAHOOTEAM,FANPROSTEAM,BASEBALLPRESSTEAM,FANGRAPHSTEAM,ESPNTEAM,BPTEAM,ROTOWIRETEAM,ROSTERRESOURCEURL,ROSTERTEAMNAME,ROSTERTEAM,ROSTERPROPER,ROSTERPROPERVALUE,ROSTERPROPERVALUEBBREF,RETROSHEET,FANGRAPHSABBR
0,ARI,ARI,ARI,ARI,ARI,ARI,ARI,Diamondbacks,ARI,ARI,ARI,MLB-ARIZONA-DIAMONDBACKS,ARIZONA-DIAMONDBACKS,ARIZONA DIAMONDBACKS,Arizona Diamondbacks,Arizona Diamondbacks,Arizona Diamondbacks,ARI,ARI
1,ATL,ATL,ATL,ATL,ATL,ATL,ATL,Braves,ATL,ATL,ATL,MLB-ATLANTA-BRAVES,ATLANTA-BRAVES,ATLANTA BRAVES,Atlanta Braves,Atlanta Braves,Atlanta Braves,ATL,ATL
2,BAL,BAL,BAL,BAL,BAL,BAL,BAL,Orioles,BAL,BAL,BAL,MLB-BALTIMORE-ORIOLES,BALTIMORE-ORIOLES,BALTIMORE ORIOLES,Baltimore Orioles,Baltimore Orioles,Baltimore Orioles,BAL,BAL
3,BOS,BOS,BOS,BOS,BOS,BOS,BOS,Red Sox,BOS,BOS,BOS,MLB-BOSTON-RED-SOX,BOSTON-RED-SOX,BOSTON RED SOX,Boston Red Sox,Boston Red Sox,Boston Red Sox,BOS,BOS
4,CHC,CHC,CHC,CHC,CHC,CHC,CHC,Cubs,CHC,CHN,CHC,MLB-CHICAGO-CUBS,CHICAGO-CUBS,CHICAGO CUBS,Chicago Cubs,Chicago Cubs,Chicago Cubs,CHN,CHC

In [25]:
BBREF_df = team_df[['BBREFTEAM', 'ROSTERPROPERVALUE']].copy()
BBREF_df.head()

  BBREFTEAM     ROSTERPROPERVALUE
0       ARI  Arizona Diamondbacks
1       ATL        Atlanta Braves
2       BAL     Baltimore Orioles
3       BOS        Boston Red Sox
4       CHC          Chicago Cubs

In [29]:
attendance_file = 'baseballdata.csv'
attendance_df = pd.read_csv(attendance_file)
new_attendance_df = attendance_df[['Tm', 'Attendance']].copy()
new_attendance_df

## attendance_df.rename(columns={"Team ID": "TEAM", "Team Name" : "Team_name"})

                       Tm Attendance
0    Arizona Diamondbacks  2,036,216
1    Arizona Diamondbacks  2,080,145
2    Arizona Diamondbacks  2,073,730
3    Arizona Diamondbacks  2,134,895
4    Arizona Diamondbacks  2,177,617
..                    ...        ...
355  Washington Nationals  1,817,226
356  Washington Nationals  2,320,400
357  Washington Nationals  1,943,812
358  Washington Nationals  2,153,056
359  Washington Nationals  2,731,993

[360 rows x 2 columns]

In [21]:
batting_file = "2015batting.csv"
batting_df = pd.read_csv(batting_file)
new_batting_df = batting_df[['Tm', 'BA', 'OBP', 'SB', 'HR']].copy()
new_batting_df = new_batting_df.rename(columns = {'Tm':'TEAM', 'BA':'BATTINGAVG','OBP':'ONBASEPERCENT', 'SB':'STOLEN BASES', 'HR': 'HOMERUNS'})
new_batting_df

     TEAM  BATTINGAVG  ONBASEPERCENT  STOLEN BASES  HOMERUNS
0     ARI       0.264          0.324           132       154
1     ATL       0.251          0.314            69       100
2     BAL       0.250          0.307            44       217
3     BOS       0.265          0.325            71       161
4     CHC       0.244          0.321            95       171
5     CHW       0.250          0.306            68       136
6     CIN       0.248          0.312           134       167
7     CLE       0.256          0.325            86       141
8     COL       0.265          0.315            97       186
9     DET       0.270          0.328            83       151
10    HOU       0.250          0.315           121       230
11    KCR       0.269          0.322           104       139
12    LAA       0.246          0.307            52       176
13    LAD       0.250          0.326            59       187
14    MIA       0.260          0.310           112       120
15    MIL       0.251          0.307            84       145
16    MIN       0.247          0.305            70       156
17    NYM       0.244          0.312            51       177
18    NYY       0.251          0.323            63       212
19    OAK       0.251          0.312            78       146
20    PHI       0.249          0.303            88       130
21    PIT       0.260          0.323            98       140
22    SDP       0.243          0.300            82       148
23    SEA       0.249          0.311            69       198
24    SFG       0.267          0.326            93       136
25    STL       0.253          0.321            69       137
26    TBR       0.252          0.314            87       167
27    TEX       0.257          0.325           101       172
28    TOR       0.269          0.340            88       232
29    WSN       0.251          0.321            57       177
30  LgAvg       0.254          0.317            84       164
31    NaN       0.254          0.317          2505      4909

In [11]:
username = "postgres"
password = "postgres"
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/MLB')

SyntaxError: invalid syntax (<ipython-input-11-0f8cfcc1c926>, line 1)

In [ ]:
new_batting_df.to_sql(name='fifteen_batting', con=engine, if_exists='append', index=False)